body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
}

.hero-image {
    background-image: url("banner.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30pt;
    
}

.hero-text p {
    font-size: 18px;
    color: white;
    margin-top: 10px;
}


/* .restaurant-description {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pt;
} */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
}

.logo img {
    height: 50px; /* Adjust size as needed */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px 12px;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 5px;
}


